NEXT_PUBLIC_SITE_TITLE="輔大跨專業長期照護碩士學位學程13屆畢業典禮照片募集"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-oauth-client-id.apps.googleusercontent.com"
GOOGLE_DRIVE_FOLDER_ID="1w5uUrn28aLLICEJ6HfMgwDczd0bN-ADx"
GOOGLE_SHEETS_SPREADSHEET_ID="1eBrbHp4QIjpgS-IBEc3BdtHPTHSHOm-7LJ93gj_F_Xg"
GOOGLE_SHEETS_SHEET_NAME="工作表1"
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
MAX_UPLOAD_FILES="10"
MAX_UPLOAD_FILE_SIZE_MB="20"